In [1]:
import yfinance as yf

In [31]:
gold = yf.Ticker("GOLD")

In [32]:
gold.info

{'address1': 'Brookfield Place, TD Canada Trust Tower',
 'address2': 'Suite 3700 161 Bay Street',
 'city': 'Toronto',
 'state': 'ON',
 'zip': 'M5J 2S1',
 'country': 'Canada',
 'phone': '416-861-9911',
 'website': 'https://www.barrick.com',
 'industry': 'Gold',
 'industryKey': 'gold',
 'industryDisp': 'Gold',
 'sector': 'Basic Materials',
 'sectorKey': 'basic-materials',
 'sectorDisp': 'Basic Materials',
 'longBusinessSummary': "Barrick Gold Corporation engages in the exploration, mine development, production, and sale of gold and copper properties in Canada and internationally. The company also explores and sells silver and energy materials. It has ownership interests in producing gold mines located in Argentina, Canada, Côte d'Ivoire, the Democratic Republic of Congo, the Dominican Republic, Mali, Tanzania, and the United States. The company also has ownership interests in producing copper mines located in Chile, Saudi Arabia, and Zambia; and various other projects located in the Americas, Asia, and Africa. Barrick Gold Corporation was founded in 1983 and is based in Toronto, Canada.",
 'companyOfficers': [{'maxAge': 1,
   'name': 'Dr. Dennis Mark Bristow',
   'age': 64,
   'title': 'President, CEO, Member of International Advisory Board & Director',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 6002917,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Graham Patrick Shuttleworth',
   'age': 54,
   'title': 'Senior EVP & CFO',
   'yearBorn': 1969,
   'fiscalYear': 2022,
   'totalPay': 2919034,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Kevin J. Thomson',
   'age': 66,
   'title': 'Senior Executive Vice President of Strategic Matters',
   'yearBorn': 1957,
   'fiscalYear': 2022,
   'totalPay': 2731437,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mark F. Hill B.Eng',
   'age': 58,
   'title': 'Chief Operating Officer of Latin America & Asia Pacific',
   'yearBorn': 1965,
   'fiscalYear': 2022,
   'totalPay': 2341290,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Christine  Keener',
   'age': 47,
   'title': 'Chief Operating Officer of North America',
   'yearBorn': 1976,
   'fiscalYear': 2022,
   'totalPay': 3301811,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Lois V. Wark',
   'age': 67,
   'title': 'Group Corporate Communications & Investor Relations Executive',
   'yearBorn': 1956,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Poupak  Bahamin',
   'age': 52,
   'title': 'General Counsel',
   'yearBorn': 1971,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Darian Kevin Rich',
   'age': 62,
   'title': 'Human Resources Executive',
   'yearBorn': 1961,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mike  Estes',
   'title': 'Chief Financial Officer of Barrick Nevada',
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Grant  Beringer',
   'age': 42,
   'title': 'Group Sustainability Executive',
   'yearBorn': 1981,
   'fiscalYear': 2022,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 7,
 'boardRisk': 7,
 'compensationRisk': 9,
 'shareHolderRightsRisk': 1,
 'overallRisk': 8,
 'governanceEpochDate': 1706745600,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 14.39,
 'open': 14.46,
 'dayLow': 14.37,
 'dayHigh': 14.76,
 'regularMarketPreviousClose': 14.39,
 'regularMarketOpen': 14.46,
 'regularMarketDayLow': 14.37,
 'regularMarketDayHigh': 14.76,
 'dividendRate': 0.4,
 'dividendYield': 0.0273,
 'exDividendDate': 1709078400,
 'payoutRatio': 0.5556,
 'fiveYearAvgDividendYield': 1.87,
 'beta': 0.404,
 'trailingPE': 20.472221,
 'forwardPE': 13.7757,
 'volume': 20814744,
 'regularMarketVolume': 20814744,
 'averageVolume': 18769859,
 'averageVolume10days': 21575120,
 'averageDailyVolume10Day': 21575120,
 'bid': 14.74,
 'ask': 14.74,
 'bidSize': 1300,
 'askSize': 4000,
 'marketCap': 25912035328,
 'fiftyTwoWeekLow': 13.76,
 'fiftyTwoWeekHigh': 20.75,
 'priceToSalesTrailing12Months': 2.273584,
 'fiftyDayAverage': 16.2666,
 'twoHundredDayAverage': 16.4589,
 'currency': 'USD',
 'enterpriseValue': 35455094784,
 'profitMargins': 0.11161,
 'floatShares': 1742947009,
 'sharesOutstanding': 1755570048,
 'sharesShort': 12320766,
 'sharesShortPriorMonth': 14614081,
 'sharesShortPreviousMonthDate': 1703808000,
 'dateShortInterest': 1706659200,
 'sharesPercentSharesOut': 0.0069,
 'heldPercentInsiders': 0.00606,
 'heldPercentInstitutions': 0.64443,
 'shortRatio': 0.65,
 'impliedSharesOutstanding': 1757939968,
 'bookValue': 13.295,
 'priceToBook': 1.1086874,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1703980800,
 'netIncomeToCommon': 1272000000,
 'trailingEps': 0.72,
 'forwardEps': 1.07,
 'pegRatio': 2.44,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 731030400,
 'enterpriseToRevenue': 3.111,
 'enterpriseToEbitda': 7.31,
 '52WeekChange': -0.07701939,
 'SandP52WeekChange': 0.27787375,
 'lastDividendValue': 0.1,
 'lastDividendDate': 1701216000,
 'exchange': 'NYQ',
 'quoteType': 'EQUITY',
 'symbol': 'GOLD',
 'underlyingSymbol': 'GOLD',
 'shortName': 'Barrick Gold Corporation',
 'longName': 'Barrick Gold Corporation',
 'firstTradeDateEpochUtc': 477153000,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EST',
 'uuid': '2c089882-2ab3-3af7-b93b-ea86648adb26',
 'messageBoardId': 'finmb_249925',
 'gmtOffSetMilliseconds': -18000000,
 'currentPrice': 14.74,
 'targetHighPrice': 25.92,
 'targetLowPrice': 14.3,
 'targetMeanPrice': 20.79,
 'targetMedianPrice': 21.5,
 'recommendationMean': 2.2,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 20,
 'totalCash': 4148000000,
 'totalCashPerShare': 2.363,
 'ebitda': 4849999872,
 'totalDebt': 5223000064,
 'quickRatio': 2.261,
 'currentRatio': 3.157,
 'totalRevenue': 11397000192,
 'debtToEquity': 16.321,
 'revenuePerShare': 6.494,
 'returnOnAssets': 0.03363,
 'returnOnEquity': 0.06171,
 'freeCashflow': 675750016,
 'operatingCashflow': 3732000000,
 'revenueGrowth': 0.103,
 'grossMargins': 0.30403,
 'ebitdaMargins': 0.42555,
 'operatingMargins': 0.13076,
 'financialCurrency': 'USD',
 'trailingPegRatio': None}

In [33]:
hist = gold.history(period = "max")
print(hist)

                            Open       High        Low      Close    Volume  \
Date
1985-02-13 00:00:00-05:00   0.00   0.463766   0.412237   0.412237     19680
1985-02-14 00:00:00-05:00   0.00   0.463766   0.412237   0.412237     65920
1985-02-15 00:00:00-05:00   0.00   0.463766   0.412237   0.412237     31360
1985-02-19 00:00:00-05:00   0.00   0.412237   0.412237   0.412237      9120
1985-02-20 00:00:00-05:00   0.00   0.412237   0.412237   0.412237     40000
...                          ...        ...        ...        ...       ...
2024-02-16 00:00:00-05:00  14.58  14.770000  14.490000  14.650000  19353800
2024-02-20 00:00:00-05:00  14.79  14.940000  14.620000  14.730000  15448800
2024-02-21 00:00:00-05:00  14.73  14.770000  14.500000  14.750000  15165500
2024-02-22 00:00:00-05:00  14.61  14.630000  14.360000  14.390000  15444600
2024-02-23 00:00:00-05:00  14.46  14.760000  14.370000  14.740000  20988400

                           Dividends  Stock Splits
Date
1985-02-13 00:00:00-05:00        0.0           0.0
1985-02-14 00:00:00-05:00        0.0           0.0
1985-02-15 00:00:00-05:00        0.0           0.0
1985-02-19 00:00:00-05:00        0.0           0.0
1985-02-20 00:00:00-05:00        0.0           0.0
...                              ...           ...
2024-02-16 00:00:00-05:00        0.0           0.0
2024-02-20 00:00:00-05:00        0.0           0.0
2024-02-21 00:00:00-05:00        0.0           0.0
2024-02-22 00:00:00-05:00        0.0           0.0
2024-02-23 00:00:00-05:00        0.0           0.0

[9835 rows x 7 columns]

In [34]:
gold.actions

                           Dividends  Stock Splits
Date
1985-12-13 00:00:00-05:00    0.00000           0.2
1987-07-16 00:00:00-04:00    0.00000           2.0
1987-11-23 00:00:00-05:00    0.01250           0.0
1988-05-24 00:00:00-04:00    0.01250           0.0
1988-11-23 00:00:00-05:00    0.00625           0.0
...                              ...           ...
2022-11-29 00:00:00-05:00    0.15000           0.0
2023-02-27 00:00:00-05:00    0.10000           0.0
2023-05-30 00:00:00-04:00    0.10000           0.0
2023-08-30 00:00:00-04:00    0.10000           0.0
2023-11-29 00:00:00-05:00    0.10000           0.0

[105 rows x 2 columns]

In [35]:
gold.dividends

Date
1987-11-23 00:00:00-05:00    0.01250
1988-05-24 00:00:00-04:00    0.01250
1988-11-23 00:00:00-05:00    0.00625
1989-05-24 00:00:00-04:00    0.01875
1989-11-24 00:00:00-05:00    0.01875
                              ...
2022-11-29 00:00:00-05:00    0.15000
2023-02-27 00:00:00-05:00    0.10000
2023-05-30 00:00:00-04:00    0.10000
2023-08-30 00:00:00-04:00    0.10000
2023-11-29 00:00:00-05:00    0.10000
Name: Dividends, Length: 101, dtype: float64